---
pagination:
  data: languages
  size: 1
  alias: data
  addAllPagesToCollections: true
permalink: "{{ data.lang.path }}generator/index.html"
---
{%- assign lang = data.lang -%}
{%- assign localize = data.localize -%}
{%- assign title = data.localize.landing.title -%}
<!doctype html>
<html lang="{{ lang.symbol }}">
{% include head %}
<body>
  <h1>{{ title }}</h1>
  <p>{{ localize.landing.description }}</p>

  <script>
    window.translations = {{ localize.riot }};
  </script>
</body>
</html>