---
pagination:
  data: languages
  size: 1
  alias: data
  addAllPagesToCollections: true
permalink: "{{ data.lang.path }}index.html"
---
{%- assign lang = data.lang -%}
{%- assign localize = data.localize -%}
{%- assign title = localize.home.title -%}
{%- assign description = localize.home.description -%}
{%- assign image = '/assets/images/logos/home.png' -%}

<!doctype html>
<html lang="{{ lang.symbol }}">
{% include head %}
<body>
{% include header %}

<div class="container">
    <section class="">
        {% include messengers_list %}
        <div class="text-center pt-1">
            <h4 class="mb-3">
              {{ localize.home.home_h3 }}
            </h4>
            <p>{{ localize.home.paragraph1 }}</p>
            <p>{{ description }}</p>
        </div>
    </section>
</div>

{% include footer %}
{% include metrika %}    
</body>
</html>