---
pagination:
  data: languages
  size: 1
  alias: data
  addAllPagesToCollections: true
permalink: "{{ data.lang.path }}index.html"
---
{%- assign lang = data.lang -%}
{%- assign localize = data.localize -%}
<!doctype html>
<html lang="{{ lang.symbol }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <title>{{ localize.home.title }}</title>
  </head>
  <body>
    <h1>{{ localize.home.title }}</h1>
    <p>{{ localize.home.description }}</p>
  </body>
</html>