---
eleventyExcludeFromCollections: true
---
{%- assign data = languages[0] -%}
{%- assign lang = data.lang -%}
{%- assign localize = data.localize -%}
{%- assign title = data.localize.all_pages.contacts_link_name -%}
{%- assign description = data.localize.all_pages.page_generator_link_name -%}
{%- assign image = '/assets/images/logos/home.png' -%}


<!doctype html>
<html lang="en">
{% include head %}
<body>
<div id="content-wrapper">
  <h1 class="text-center pb-0" id="h1">{{ lang.write_to_me }}</h1>
  <div class="container">
    <div class="text-center white-bg-msng" id="row-messengers">
      <a href="/generator/">{{description}}</a>
    </div>
  </div>
</div>

<div class="msng-link">
  <a href="{{ '/' | absoluteUrl }}">
    {{ '/' | absoluteUrl | remove: "https://" }}
  </a>
</div>

<div class="d-none">
  {{ '/src/sprites/messengers.svg' | svgContents }}
</div>


{% include messengers_js %}
{% include metrika %}    
</body>
</html>